{% extends "home/base.html" %}
{% load static %}
{% load readmore %}
{% block content %}
<div class="container mt-5">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8">
        <h4>{{ object.first_name}} {{ object.last_name }}</h4>
        <p>{{ object.title }} | {{ object.affiliation }}</p>
        <p>Email: {{ object.email}}</p>
        <p>Phone: {{ object.phone }}</p>
        <p>Address: {{ object.office_address }}</p>
        <p>External Link: {{ object.external_link }}</p>
    </div>
    <div class="col-6 col-md-4">
        <img src="{{ object.profile_pic.url }}" class="rounded float-end" alt="..." style="max-width: 100%;">
    </div>
  </div>
  <div>
      <hr>
      <h4>Bio</h4>
      <p>{{ object.bio|safe }} </p>
  </div>
   <div>
       {% if object.articles_set.all %}
            <h5>Articles</h5>
               {% for p in object.articles_set.all %}
                   {% if p.is_published is True %}
                      <hr>
                       <p><a href="{% url 'publication:article_detail' p.id %}" style="color:#008DC9 ; font-size:20px; text-decoration:none ">{{ p.title }}</a></p>
                       {% for m in p.author_list.all %}
                          <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name }}{{ m.last_name }},</a>
                       {% endfor %}
                       <p style="color: sandybrown">DOI: {{ p.doi }}</p>
                       <p>{{ p.abstract|readmore:30 }}</p>
                   {% endif %}
               {% endfor %}
       {% endif %}
    </div>
    <div>
       {% if object.presentations_set.all%}
            <h5>Presentation</h5>
               {% for p in object.presentations_set.all %}
                  {% if p.is_published is True %}
                      <hr>
                       <p><a href="{% url 'publication:pre_detail' p.id %}" style="color:#008DC9 ; font-size:20px; text-decoration:none ">{{ p.title }}</a></p>
                       {% for m in p.author_list.all %}
                          <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name }}{{ m.last_name }},</a>
                       {% endfor %}
                       <p>{{ p.abstract|readmore:30 }}</p>
                   {% endif %}
               {% endfor %}
       {% endif %}
    </div>
    <div>
        {% if object.books_set.all %}
           <h5>Books</h5>
               {% for p in object.books_set.all %}
                   {% if p.is_published is True %}
                      <hr>
                       <p><a href="{% url 'publication:book_detail' p.id %}" style="color:#008DC9 ; font-size:20px; text-decoration:none ">{{ p.title }}</a></p>
                       {% for m in p.author_list.all %}
                          <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name }}{{ m.last_name }},</a>
                       {% endfor %}
                       <p>{{ p.introduction|readmore:30 }}</p>
                   {% endif %}
               {% endfor %}
        {% endif %}
    </div>
  <div>
      {% if object.online_set.all %}
        <h5>Online</h5>
           {% for p in object.online_set.all %}
               {% if p.is_published is True %}
                  <hr>
                   <p><a href="{% url 'publication:online_detail' p.id %}" style="color:#008DC9 ; font-size:20px; text-decoration:none ">{{ p.title }}</a></p>
                   {% for m in p.author_list.all %}
                      <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name }}{{ m.last_name }},</a>
                   {% endfor %}
                   <p>{{ p.abstract|readmore:30 }}</p>
               {% endif %}
           {% endfor %}
     {% endif %}
   </div>

</div>

{% endblock %}