{% extends "home/base.html" %}
{% load static %}
{% block content %}
<!-- Side navigation -->
<div class="container mt-5">

            <form class="d-flex mt-3" role="search" action="{% url 'members:search' %}" method="get">
                <input class="myInput form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q", required="required"/>
                <button class="myBtn btn btn btn-outline-primary" type="submit">Search</button>
            </form>

           {% block member %}
           {% endblock %}

</div>
{% endblock content %}
{% block js %}
    <script>
        // press return keyboard go to search.
        // Get the input field
        var input = document.getElementById("myInput");
        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
          // If the user presses the "Enter" key on the keyboard
           if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("myBtn").click();
          }
        });
    </script>
{% endblock %}
