{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <form id="myForm" class="mt-4" action="{% url 'publication:book_search' %}" method="get">
        <div class="row">
          <div class="col-8">
                <input id="search" class="form-control me-2" value="{{query}}" type="text" placeholder="Search" aria-label="Search" name="q", required="required"/>
          </div>
          <div class="col-4">
                <button class="btn btn-outline-dark" type="submit">Search</button>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-1">
                <P>FROM</P>
            </div>
            <div class="col-2">
                 <select id="start-year" class="form-select" aria-label="Default select example" name="start_year"></select>
            </div>
           <div class="col-1">
                <P>TO</P>
            </div>
            <div class="col-2">
                 <select id="end-year" class="form-select" aria-label="Default select example" name="end_year"></select>
            </div>
            <div class="col-6">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="check_rural360" value="check_rural360" {% if check_rural360%} checked {% endif %}onchange='this.form.submit();'>
                  <label class="form-check-label" for="inlineCheckbox1">Rural360</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="check_6for6" value="check_6for6" {% if check_6for6%} checked {% endif %} onchange='this.form.submit();'>
                  <label class="form-check-label" for="inlineCheckbox2">6for6</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="check_surgecon" value="check_surgecon" {% if check_surgecon  %} checked {% endif %} onchange='this.form.submit();'>
                  <label class="form-check-label" for="inlineCheckbox3">SurgeCon</label>
                </div>
            </div>
        </div>
    </form>
{% block books_content %}
{% endblock %}
</div>

{% endblock content %}
{% block js %}
       <script>
        function populateSelect(selectElementId, selectedYearParam, isDescending) {
            var select = document.getElementById(selectElementId);
            var currentYear = new Date().getFullYear();
            var startYear = 2010;
            var selectedYear = new URL(window.location.href).searchParams.get(selectedYearParam);

            if (isDescending) {
                for (var year = currentYear; year >= startYear; year--) {
                    var option = document.createElement("option");
                    option.value = year;
                    option.text = year;
                    if (year == selectedYear) {
                        option.selected = true;
                    }
                    select.appendChild(option);
                }
            } else {
                for (var year = startYear; year <= currentYear; year++) {
                    var option = document.createElement("option");
                    option.value = year;
                    option.text = year;
                    if (year == selectedYear) {
                        option.selected = true;
                    }
                    select.appendChild(option);
                }
            }

            select.onchange = function() {
                this.form.submit();
            };
        }

        populateSelect("start-year", "start_year", false);
        populateSelect("end-year", "end_year", true);
    </script>
{% endblock %}
