{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="mt-5 mb-3">
        <p>{{ object.date| date:"Y,N,t" }}</p>
        <h2 style="font-weight: bold">{{ object.title}}</h2>
        <p style="color:#008DC9 ;">
            {% for m in object.author_list.all %}
                {% if m.role != "other" %}
                    <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name}} {{ m.last_name }}, </a>
                {% else %}
                    {{ m.first_name}}{{ m.last_name }},
                {% endif %}
            {% endfor %}
        </p>
        <h5>External Link</h5>
        <P><a href="{{ object.external_link }}">Click here for the external link</a></P>
        <h5>Abstract</h5>
        <p>{{ object.abstract | linebreaks }}</p>
    </div>
</div>
{% endblock content %}
{% block js %}
{% endblock %}