{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="mt-5 mb-3">
        <p>{{ object.date| date:"Y,N,t" }}</p>
        <h2 style="font-weight: bold">{{ object.title}}</h2>
        <p>
            {% for m in object.author_list.all %}
                {% if m.member_number|get_digit:"4" != 8 %}
                    <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name}}{{ m.last_name }}, </a>
                {% else %}
                    {{ m.first_name}}{{ m.last_name }},
                {% endif %}
            {% endfor %}
        </p>
        <p>
         Type:
            {% if object.types == '0' %}Oral{% endif %}
            {% if object.types == '1' %}Poster{% endif %}
            {% if object.types == '2' %}Workshop{% endif %}
        </p>
        {% if object.picture %}
            <img src="{{ object.picture.url }}">
        {% endif %}
        <h5>Abstract</h5>
        <p>{{ object.abstract | linebreaks }}</p>
        {% if object.external_link %}
            <h5>External Link</h5>
            <p><a href="{{ object.external_link }}">Click here for the external link</a></p>
        {% endif %}
        {% if object.archive %}
            <h5>Archive source</h5>
            <p><a href="{{object.archive.url}}">Click here for the archive source</a></p>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block js %}
{% endblock %}