{% extends "publication/pre_base.html" %}
{% load highlight %}
{% load readmore %}
{% block con_content %}
  {% for obj in page_obj %}
        <div class="mt-5">
            <p><a href="{% url 'publication:pre_detail' obj.id %}" style="color:#008DC9 ; font-size:23px; text-decoration:none ">{{ obj.title|highlight_search:query|safe}}</a></p>
            {% for m in obj.author_list.all %}
                {% if m.member_number|get_digit:"4" != 8 %}
                    <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name|highlight_search:query|safe}}{{ m.last_name|highlight_search:query|safe}}, </a>
                {% else %}
                    {{ m.first_name|highlight_search:query|safe}}{{ m.last_name|highlight_search:query|safe}},
                {% endif %}
            {% endfor %}
            <p style="color: sandybrown">Type:
                    {% if obj.types == '0' %}Oral{% endif %}
                    {% if obj.types == '1' %}Poster{% endif %}
                    {% if obj.types == '2' %}Workshop{% endif %}
            </p>
            <p>{{ obj.abstract|truncatewords:100|highlight_search:query|safe}}</p>
        </div>
  {% endfor %}

   <div>
    {% if page_obj.paginator.num_pages > 1%}
      <nav aria-label="Page navigation example">
       <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?q={{query}}&start_year={{start_year}}&end_year={{end_year}}{% if check_rural360 %}&check_rural360={{check_rural360}}{% endif %}{% if check_6for6 %}&check_6for6={{check_6for6}}{% endif %}{% if check_surgecon %}&check_surgecon={{check_surgecon}}{% endif %}&page={{page_obj.previous_page_number}}">previous</a></li>
           {% endif %}
               <li class="page-item active" ><a class="page-link" href="?q={{query}}&start_year={{start_year}}&end_year={{end_year}}{% if check_rural360 %}&check_rural360={{check_rural360}}{% endif %}{% if check_6for6 %}&check_6for6={{check_6for6}}{% endif %}{% if check_surgecon %}&check_surgecon={{check_surgecon}}{% endif %}&page={{page_obj.number}}">{{ page_obj.number }}</a></li>
           {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?q={{query}}&start_year={{start_year}}&end_year={{end_year}}{% if check_rural360 %}&check_rural360={{check_rural360}}{% endif %}{% if check_6for6 %}&check_6for6={{check_6for6}}{% endif %}{% if check_surgecon %}&check_surgecon={{check_surgecon}}{% endif %}&page={{page_obj.next_page_number}}">next</a></li>
           {% endif %}
        </ul>
      </nav>
    {% endif %}
   </div><!--end pagination-->
{% endblock %}