{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block dashboard %}
<div class="container">
  <h2>Withdrawn Proposals</h2>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for proposal in proposals %}
        <tr>
          <td>{{ proposal.title }}</td>
          <td>{{ proposal.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ proposal.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>
            {% if request.user in proposal.co_pi.all %}
              <a href="{% url 'proposal:proposal_edit' proposal.id %}" class="btn btn-sm btn-primary">Edit</a>
            {% elif request.user == proposal.creator %}
              <a href="{% url 'proposal:proposal_edit' proposal.id %}" class="btn btn-sm btn-primary">Edit</a>
              <a href="{% url 'proposal:proposal_delete' proposal.id %}" class="btn btn-sm btn-danger">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No proposals found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
