{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-3">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'proposal:proposal_edit' proposal_id%}">Proposal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'proposal:team_list' proposal_id%}">Team member</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'proposal:workplan_list' proposal_id%}">Work plan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'proposal:budget_list' proposal_id%}">Budget</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'proposal:references_list' proposal_id%}">References</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'proposal:appendices_list' proposal_id%}" tabindex="-1">Appendices</a>
  </li>
</ul>
<h1>Edit Work plan</h1>

<form method="POST">
  {% csrf_token %}
   {{ form.media }}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Save</button>
    <a href="{% url 'proposal:workplan_list' proposal_id%}"> <button class="btn btn-secondary" type="button">Cancel</button></a>
</form>
</div>
{% endblock %}