{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load readmore %}
{% block dashboard %}
     <div class="container">
      <div>
       {% if presentation.presentations_set.all%}
            <h2> presentation</h2>
               {% for p in presentation.presentations_set.all %}
                  {% if p.is_published is True %}
                      <hr>
                       <p><a href="{% url 'publication:pre_detail' p.id %}" style="color:#008DC9 ; font-size:20px; text-decoration:none ">{{ p.title }}</a></p>
                       {% for m in p.author_list.all %}
                          <a style="color: darkgoldenrod; text-decoration: none;" href="{% url 'members:member_detail' m.id%}"> {{ m.first_name }}{{ m.last_name }},</a>
                       {% endfor %}
                       <p>{{ p.abstract|readmore:30 }}</p>
                   {% endif %}
               {% endfor %}
                   {% else %}
            <h2>Presentations</h2>
           <hr>
            <p>There are no presentations.</p>
       {% endif %}
      </div>
     </div>
 {% endblock %}