{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css%}
    <style>
           input, select {width: 100%}
    </style>
{% endblock %}
{% block content %}
<div class="container mt-5">
 <h2>Edit Presentation</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
     <hr>
    {% if form.instance.archive %}
        <p>Current archive: <a href="{{ form.instance.archive.url }}">{{ form.instance.archive.name }}</a></p>
    {% endif %}
    {% if form.instance.picture %}
       <p>Current picture: <a href="{{ form.instance.picture.url }}">{{ form.instance.picture.name }}</a></p>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}